@use 'sass:math';
@use 'functions' as *;

// Миксин fluid-text($max: 48, $min: 16)
// Устанавливает адаптивный размер шрифта с помощью функции fluid()
// Позволяет задавать минимальный и максимальный размеры шрифта в пикселях.
@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

// Миксин для скрытия элемента:
// Делает элемент полностью прозрачным и невидимым для пользователя.
// Используется, когда нужно скрыть элемент, но сохранить его в DOM (для анимации, логики и т.п.)
@mixin hide {
  opacity: 0;
  visibility: hidden;
}

// Миксин для отображения элемента:
// Делает элемент полностью видимым.
// Часто используется вместе с @mixin hide для переключения видимости (например, в анимациях или по состоянию).
@mixin show {
  opacity: 1;
  visibility: visible;
}

// Миксин для центрирования содержимого по горизонтали и вертикали с помощью Flexbox
// Параметр $isInline (по умолчанию false) позволяет выбрать между display: flex и display: inline-flex
// Используется для центровки любого контента в контейнере
@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

// Миксин для абсолютного центрирования элемента по горизонтали и вертикали
// Использует translate для точного выравнивания относительно центра родителя
// Требует, чтобы родитель имел position: relative или другую позицию, отличную от static
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin abs-x {
  position: absolute;
  left: 50%;
  translate: -50%;
}

@mixin abs-y {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

// Миксин для создания квадрата с заданным размером
// Устанавливает одинаковую ширину и высоту, образуя квадрат
// Подходит, если нужно строгое управление размерами, особенно в старых браузерах без поддержки aspect-ratio
@mixin square($size) {
  width: $size;
  height: $size;
}

// Миксин для скрытия элемента визуально, но сохранения его в DOM для скринридеров
// Используется для улучшения доступности: текст или элементы видимы для читалок, но не для глаз
// Полный аналог class="visually-hidden" в Bootstrap или других UI-библиотеках
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin full-vw-centered-line(
  $property: top,
  $left: 50%,
  $right: auto,
  $translate: -50%
  ) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: $left;
    right: $right;
    #{$property}: 0;
    translate: $translate;
    width: 100vw;
    height: rem(1);
    background-color: var(--color-dark-15);
  }
}
